body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,36,87,0.9752101524203431) 35%, rgba(0,212,255,1) 100%); 
    margin: 5rem;
}

h1{
    color:blue;
}

h2{
    color: blueviolet;
}

h3{
    color: aqua;
}

p{
    color: antiquewhite;
}
li {
    color: antiquewhite;
}

ul{
    color: antiquewhite;
}
.li1 {

    list-style: none;
}

.li2 {
    list-style: none;
}

.li3 {
    list-style: none;
}
