body {
    background: rgb(2,0,36);
    margin: 5rem;
}

h1{
    color:rgb(122, 182, 238);
}

h2{
    color: rgb(178, 132, 221);
}

h3{
    color: rgb(125, 231, 231);
}

p{
    color: antiquewhite;
}
li {
    color: antiquewhite;
}

ul{
    color: antiquewhite;
}
.li1 {

    list-style: none;
}
